.container {
    display: grid;
    grid-template-columns: 50px 40px auto;
    grid-template-rows: 10px auto 50%;
}


.item1 {
    background-color: red;
}

.item2 {
    background-color: blue;
}

.item3 {
    background-color: yellow;
}

.subItem {
    background-color: green;
}
